<div class="flex flex-row flex-wrap gap-4">
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <mat-select [(value)]="selectedUser">
      @for (user of users$ | async; track user.id) {
        <mat-option [value]="user.id"
          >{{ user.nombre }} {{ user.apellidoPaterno }} {{ user.apellidoMaterno }}</mat-option
        >
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(value)]="selectedRole">
      @for (role of roles$ | async; track role.id) {
        <mat-option [value]="role.id">{{ role.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="flex items-center justify-center">
    <app-button
      [disabled]="!selectedUser || !selectedRole"
      [label]="'Asignar'"
      [type]="'button'"
      [classExtend]="'w-full'"
      (onClick)="assignRole()"
    ></app-button>
  </div>
</div>
