<div class="container mx-auto">
  <h1 class="my-4 text-3xl font-bold">Todos los usuarios</h1>
  <div class="relative overflow-x-auto shadow-md shadow-slate-900/50 sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <thead class="bg-gray-50 text-xs uppercase text-gray-900 dark:bg-gray-700 dark:text-gray-100">
        <tr>
          <th class="px-6 py-3" scope="col">Nombre completo</th>
          <th class="px-6 py-3" scope="col">Roles</th>
          <th class="px-6 py-3" scope="col">Correo</th>
          <th class="px-6 py-3" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (users$ | async; as users) {
          @for (user of users; track user.id) {
            <tr class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600">
              <th class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white" scope="row">
                {{ user.names }} {{ user.paternalLastName }} {{ user.mothersLastName }}
              </th>
              <td class="px-6 py-4">{{ user.roles }}</td>
              <td class="px-6 py-4">{{ user.email }}</td>
              <td class="px-6 py-4 text-right">
                <a class="font-medium text-blue-600 hover:underline dark:text-blue-500" href="#">Edit</a>
              </td>
            </tr>
          }
        } @else {
          @for (char of "11111"; track $index) {
            <tr class="animate-pulse border-b bg-white dark:border-gray-700 dark:bg-gray-800">
              <td class="px-6 py-4">
                <div class="h-4 w-full rounded-full bg-gray-200 dark:bg-gray-700"></div>
              </td>
              <td class="px-6 py-4">
                <div class="h-4 w-full rounded-full bg-gray-200 dark:bg-gray-700"></div>
              </td>
              <td class="px-6 py-4">
                <div class="h-4 w-full rounded-full bg-gray-200 dark:bg-gray-700"></div>
              </td>
              <td class="px-6 py-4">
                <div class="h-4 w-full rounded-full bg-gray-200 dark:bg-gray-700"></div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
