<mat-toolbar class="navbar" color="">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex w-full items-center justify-between">
    <a routerLink="/">Home</a>
    @if (isLoggedIn()) {
      <div class="flex items-center gap-4">
        @if (userDetail?.roles?.includes("ADMIN")) {
          <a mat-button routerLink="/register">
            <mat-icon class="!m-0">person_add</mat-icon>
          </a>
          <a mat-button routerLink="/users">
            <mat-icon class="!m-0">groups</mat-icon>
          </a>
          <a mat-button routerLink="/roles">
            <mat-icon class="!m-0">settings</mat-icon>
          </a>
        }
        <a class="flex cursor-pointer items-center gap-2" [matMenuTriggerFor]="menu">
          <div
            class="flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-green-500 p-4 text-sm font-bold text-white shadow-md shadow-green-500/40"
          >
            {{ userDetail?.fullname?.charAt(0) }}
          </div>
          <div class="flex flex-col font-medium">
            <h1 class="m-0 p-0">{{ userDetail?.fullname }}</h1>
            <p class="m-0 p-0 text-xs text-gray-500">{{ userDetail?.roles }}</p>
          </div>
        </a>
        <mat-menu #menu="matMenu">
          <button [routerLink]="['account', userDetail?.id]" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Ver perfil</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
       
      </div>
    } @else {
      <div class="flex items-center gap-4">
        <a mat-button routerLink="/login">Iniciar sesión</a>
        <a mat-button routerLink="/register">Registro</a>
      </div>
    }
  </div>
</mat-toolbar>
